<ul class="as-nav-list history-nav-list d-flex flex-column">
  <li>
    <a class="btn btn-default"
       id="as-history-button"
       href="<%= uri %>">
      <span class="glyphicon glyphicon-time"></span>
      <%= t('plugins.history.button_label') %>
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </li>
</ul>
