  <li>
    <a class="btn btn-default"
       id="as-history-button"
       style="width:100%;text-align:left;color:#337ab7;margin-top:16px;"
       href="<%= uri %>">
      <span class="glyphicon glyphicon-time"></span>
      <%= t('plugins.history.button_label') %>
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </li>
