<div class="history-sidebar">

  <div id="history-sb-diff-range-marker">
  </div>

  <% @version['versions'].each do |uri, ver| %>
    <% showing = ver['lock_version'] == data['lock_version'] ? 'history-showing-version' : '' %>
    <% button_label = version_display(ver['model'], ver['record_id'], ver['lock_version']) + '<br>'.html_safe +
      [ver['last_modified_by'],
       time_display(ver['user_mtime'])].join(' ') %>

    <div class="history-version-box" data-version="<%= ver['lock_version'] %>">
    <%= link_to button_label,
                File.join(AppConfig[:frontend_prefix], uri).to_s,
                :class => "btn btn-default history-version #{showing}" %>
    </div>
  <% end %>

</div>
