<%
  link_hash = {:controller => model_pl, :action => :show}
  link_hash[:agent_type] = data['model'] if model_pl == 'agents'

  if data['model'] == 'archival_object'
    link_hash[:id] = json['resource']['ref'].split('/')[-2]
    link_hash[:anchor] = "tree::archival_object_#{data['record_id']}"
  end

  breadcrumb_trail = [[model_pl.capitalize, {:controller => model_pl, :action => :index}],
                      [json['name'] || json['display_string'] || json['title'], {:id => data['record_id']}.merge(link_hash)],
                      [t('plugins.history.button_label')]]
%>

<%= render_aspace_partial(:partial =>"shared/breadcrumb", :layout => false , :locals => { :trail => breadcrumb_trail }).to_s %>

<div class="row">

  <div class="col-md-3">
    <%= render_aspace_partial :partial => "history/sidebar" %>
  </div>

  <div class="col-md-9 as-history-main-pane">

    <%= render_aspace_partial :partial => "history/toolbar" %>

    <div class="record-pane">
      <%= render_aspace_partial :partial => "history/record", :json => json %>
    </div>

  </div>

</div>
